:root {
    --primary-color: #8ECED2;
    --secondary-color: #6BB8CE;
    --accent1-color: #3B84FF;
    --accent2-color: #3D5FFF;
    --heading-font: "Playwrite DK Loopet", cursive;
    --body-font: "playpen sans hebrew", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 96%;
    margin: 5px auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

article {
    position: absolute;
    top: 350px;
    width: 98%;
    padding: 50px;
    text-align: left;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 20%;
}

.hero img {
    width: 100%;
}

header {
    background-color: var(--secondary-color);
}

header img {
    position: relative;
    width: 150px;
    height: auto;
    left: 150px;
}

header nav a {
    text-decoration: none;
}

#layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

#sub-layout {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    display: grid;
    flex-direction: column;
}

#beauty {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section img {
    width: 220px;
}

footer nav a img{
    width: 30px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    color: #fff;
}