* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav {
    background-color:blue;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: blue;
    border-bottom: 2px double black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

header, .grid, footer {
    width: 840px;
    margin: 0% auto;
}

aside {
    width: 20rem;
    margin: 1em;
    border: 2px dotted blue;
    padding: 1px;
    background-color: lightblue;
    color: black;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: 1px solid blue;
    text-align: center;
    background-color: lightblue;
}

main img {
    float: right;
}

aside h2 {
    position: absolute;
    left: 100px;
}

/* Class selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px dotted blue;
    background-color: lightblue;
    color: black;
}

.grid {
    display: grid;
    align-items: center;
}
